<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<h1>Edit category</h1>
<p>
    <a href="/blogs">Blog list</a>
</p>
<p><a th:href="@{/edit-category/__${category.id}__}">Edit category</a></p>
<p><a th:href="@{/delete-category/__${category.id}__}">Delete category</a></p>
<input th:type="hidden" name="id" th:field="*{id}">
<table>
    <tr>
        <td>Name:</td>
        <td th:text="*{category.name}"></td>
    </tr>
    <th:block th:each="blog : ${blogList}">
        <tr>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.detail}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>